# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/8.0/en/server-configuration-defaults.html

[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
innodb_buffer_pool_size = 5600M    # 128M
#
# Remove the leading "# " to disable binary logging
# Binary logging captures changes between backups and is enabled by
# default. It's default setting is log_bin=binlog
# disable_log_bin
# binlog_expire_logs_seconds = 604800    # expire_logs_days=7    # < 8
# binlog_encryption = ON
# binlog_do_db = test
slow_query_log=1
# slow_query_log_file=slow.log    # custom name.extension
# long_query_time=10    # default, in s
# general_log=1
# general_log_file=general.index    
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
#
# Remove leading # to revert to previous value for default_authentication_plugin,
# this will increase compatibility with older clients. For background, see:
# https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_default_authentication_plugin
# default-authentication-plugin=mysql_native_password

plugin_load_add='group_replication.so'
plugin_load_add='mysql_clone.so'

group_replication_communication_stack=MYSQL    # > 8.0.27
group_replication_group_name="744bce81-a89c-4526-8841-ec030bd1a8f7"
group_replication_local_address="mysql1:3306"    # Current host address, change ports to 33061 for default stack (XCOM)
group_replication_group_seeds="mysql2:3306"

# for multi-primary
# group_replication_single_primary_mode=OFF
# group_replication_enforce_update_everywhere_checks=ON

server_id=1
gtid_mode=ON
enforce_gtid_consistency=ON

# port=3307
# bind_address=192.168.1.10,192.168.1.11    # < 8.0.13 - single argument, use firewall for control

datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

# lc_messages_dir=/usr/local/mysql/share/
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

log_timestamps=SYSTEM
user=mysql

[mysql]
# socket = /var/run/mysql/mysql1.sock    # for single instance; client connects to multi instances through socket

